# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo

# Virtual environment
venv/

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
local_settings.py
secrets.json

# Django migrations
**/migrations/*
!*/migrations/__init__.py

# VS Code
.vscode/

# PyCharm
.idea/

# OS generated
.DS_Store
Thumbs.db

# Env files
.env
.env.*

# Coverage & testing
htmlcov/
.coverage
.tox/
.nox/
.cache/
pytest_cache/


